<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" partner="marking_tool" secretKey="FEF7DF1D16694EB89668EDFEEC907864">
  <rest>http://open.dayeasy.net/</rest>
  <restFile>http://file.dayeasy.net/uploader?type=5</restFile>
  <markingUrl>http://www.dayeasy.net/work</markingUrl>
  <debug>false</debug>
  <adminEmail>luoyong@dayeasy.net</adminEmail>
</root>