<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <correction>true</correction>
  <taskCount>1</taskCount>
  <blackScale>0.85</blackScale>
  <paperWidth>780</paperWidth>
  <lineHeight>60</lineHeight>  
  <qrcodeWidth>0.5</qrcodeWidth>
  <threshold>120</threshold>
  <sheetThreshold>190</sheetThreshold>
  <sheetTolerance>0.92</sheetTolerance>
  <smearWidth>11</smearWidth>
  <smearHeight>6</smearHeight>  
</root>