<?xml version="1.0" encoding="utf-8"?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="1">
  <blackScale>0.8</blackScale>
  <paperWidth>780</paperWidth>
  <lineHeight>19</lineHeight>
  <qrcodeWidth>0.5</qrcodeWidth>
  <threshold>0.74</threshold>
  <lineThreshold>180</lineThreshold>
  <sheetTolerance>0.92</sheetTolerance>
  <columnCount>24</columnCount>
  <smearWidth>11</smearWidth>
  <smearHeight>6</smearHeight>
  <areaX>40</areaX>
  <areaY>20</areaY>
  <sheetType>1</sheetType>
  <recognitionType>0</recognitionType>
  <asyncCount>5</asyncCount>
</root>