<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CuttedPicsDirName" value="Sections"/>
    <add key="PaperSaveDirName" value="Unfinished"/>
    <add key="CompressedPath" value="Compressed"/>
    <add key="ItemDirectory" value="PaperTemp"/>
    <add key="PaperWidth" value="780"/>
    <add key="SmearWidth" value="8"/>
    <add key="SmearHeight" value="4"/>
    <add key="SaveImagePath" value=""/>
    <add key="DirectoryName" value="DeyiFile"/>
    <add key="NamingRules" value="dy_{0}"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="WriteFile" value="False"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="DeyiWsHttpBinding" maxBufferPoolSize="1024000" maxReceivedMessageSize="1024000">
          <readerQuotas maxStringContentLength="1024000"/>
          <security mode="Message">
            <transport clientCredentialType="Windows"/>
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_Paper">
          <security>
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://srv.dayez.net/user/user_service.svc" behaviorConfiguration="DeyiBehavior" binding="wsHttpBinding" bindingConfiguration="DeyiWsHttpBinding" contract="UserServiceReference.User" name="WSHttpBinding_User">
        <identity>
          <dns value="DayEZServer"/>
        </identity>
      </endpoint>
      <endpoint address="http://srv.dayez.net/paper/paper_service.svc" binding="wsHttpBinding" behaviorConfiguration="DeyiBehavior" bindingConfiguration="DeyiWsHttpBinding" contract="PaperServiceReference.Paper" name="WSHttpBinding_Paper">
        <identity>
          <dns value="DayEZServer"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DeyiBehavior">
          <clientCredentials>
            <clientCertificate findValue="DayEZClient" storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
