<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MarkingSection" type="DayEasy.MarkingTool.BLL.MarkingSection,DayEasy.MarkingTool.BLL"/>
  </configSections>
  <MarkingSection>
    <Marking fileUrl="http://file.dayez.net/uploader?type=5" routeUrl="http://open.dayeasy.dev/router" partner="marking_tool" secretKey="dy123456" />
    <Path isDebug="true" isCorrection="true" cuttedPics="Sections" paperSave="Unfinished" compressed="Compressed" itemDirectory="PaperTemp" />
    <Size scanWidth="500" blackScale="0.85" paperWidth="780" smearWidth="9" smearHeight="8" lineHeight="20" qrcodeWidth="1.0" basicThreshold="120" answerThreshold="140" />
  </MarkingSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
