<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key="manifestUrl" value="http://open.dayeasy.dev/manifest/2001"/>
    <add key="theme" value="Black"/>
  </appSettings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
